<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content=">" />
  <link href="/assets/stylesheets/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <title>{{ page.title }}</title>
</head>
<body>
  <div class="container">
    <div class="row page-header">
      <div class="span4">
        <p><a href="/"><img src="/assets/images/home_16.png" width="16" height="16" class="home-icon" /></a></p>
      </div>
      <div class="span9">
        <p><strong>Alex Soulim &middot; Блог</strong></p>
      </div>
      <div class="span3">
        <p>
          <a href="http://twitter.com/soulim">Twitter</a> &middot;
          <a href="http://github.com/soulim">GitHub</a> &middot;
          <a href="http://heiaheia.com/user/soulim">HeiaHeia</a>
        </p>
      </div>
    </div>
    <div class="row content">
      <div class="span4">{% if page.thumb %}<a href="{{ page.thumb_url }}"><img src="/assets/images/{{ page.thumb }}" class="thumbnail" /></a>{% endif %}&nbsp;</div>
      <div class="span12">{{ content }}</div>
    </div>
    <footer class="row">
      <div class="span4">
        <p>&copy;&nbsp;2012, Alex Soulim</p>
      </div>
      <div class="span6">
        <p>Технический директор R&D отдела <a href="http://heiaheia.com">HeiaHeia.com</a></p>
      </div>
      <div class="span6">
        <p>Автор социального блога разработчиков <a href="http://rubyflow.ru">RubyFlow.ru</a> и сайта с вакансиями <a href="http://rubyjobs.ru">RubyJobs.ru</a></p>
      </div>
    </footer>
  </div>
</body>
</html>